/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

.project-tile {
    /* height: 40rem; */
    width: 100%;
    max-height: 0;
    /* display: none; */
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid var(--color-secondary);
    /* border-radius: 7px; */
    /* width: 20rem; */
    font-size: 1.5rem;
    /* display: grid;
    grid-template-rows: [start] 45% [median] auto [end]; */
    position: relative;
    isolation: isolate;
}
/* .project-tile-container {
    overflow: hidden;
} */


.project-tile::before {
    content: "";
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    z-index: -1;
    overflow: hidden;
    /* border-radius: 7px; */
}

.project-tile--img[name="mars"] {
    background: url("../../mars-large.jpg");
    background-size: cover;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img[name="Livability Initiative"] {
    background: url("../../TLI.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 16/10;
    max-height: 60vh;
}

.project-tile--img[name="InDev"] {
    background: url("../../inDev.png");
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img[name="Adam's api"] {
    background: url("../../adamsapi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img {
    margin: .5rem 0;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.project-tile--tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--color-secondary);
    --tech-font-size: 1.2em;
    padding: 0 .7rem;
}


@media (width > 1700px) {
    .project-tile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: [start] max(800px, 60%) [median] auto [end];
        grid-template-columns: [start] max(800px, 60%) [median] auto [end];
    }
    .project-tile--tech {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: [start] auto [link-top] 1.6em [median] 12rem [end];
        grid-template-rows: [start] auto [link-top] 1.6em [median] 12rem [end];
    }
}

.project-tile--tech__icons {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* position: relative; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (width < 1700px) {
    .project-tile--tech__icons {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }
}

.project-tile--tech__icons::before {
    content: "Tools used:";
    /* position: absolute; */
    font-size: var(--tech-font-size);
    /* top: calc(var(--tech-font-size)*-1); */
}

.project-tile--tech__description {
    font-size: var(--tech-font-size);
}

.project-tile--tech__link {
    /* height: 10px; */
    position: relative;
    z-index: 101;
}

.project-tile--tech__link a {
    text-decoration: none;
    color: rgb(64, 64, 248);
}

.project-tile--tech__no-link {
    margin-top: 5px;
    color: red;
}

.project-tile--img, .project-tile--tech, .project-tile--tech__description, .project-tile--tech__icons, .project-tile--tech__link, .project-tile--tech__description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* transform: scaleY(0); */
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}