.project-tile {
    grid-column: median;
    grid-row-start: 2;
    grid-row-end: end;
    height: 22rem;
    border: 1px solid red;
    border-radius: 7px;
    width: 20rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: [start] 45% [median] auto [end];
    position: relative;
    isolation: isolate;
}

.project-tile::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
    overflow: hidden;
    border-radius: 7px;
}