.project-tile {
    /* height: 40rem; */
    width: 100%;
    border: 1px solid var(--color-secondary);
    /* border-radius: 7px; */
    /* width: 20rem; */
    font-size: 1.5rem;
    /* display: grid;
    grid-template-rows: [start] 45% [median] auto [end]; */
    position: relative;
    isolation: isolate;
}
/* .project-tile-container {
    overflow: hidden;
} */


.project-tile::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(7px);
    z-index: -1;
    overflow: hidden;
    /* border-radius: 7px; */
}

.project-tile--img[name="mars"] {
    background: url("../../mars-large.jpg");
    background-size: cover;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img[name="InDev"] {
    background: url("../../inDev.png");
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img[name="Adam's api"] {
    background: url("../../adamsapi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 16/12;
    max-height: 60vh;
}

.project-tile--img {
    margin: .5rem 0;
}

.project-tile--tech {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-secondary);
    --tech-font-size: 1.2em;
    padding: 0 .7rem;
}


@media (width > 1700px) {
    .project-tile {
        display: grid;
        grid-template-columns: [start] max(800px, 60%) [median] auto [end];
    }
    .project-tile--tech {
        display: grid;
        grid-template-rows: [start] auto [link-top] 1.6em [median] 12rem [end];
    }
}

.project-tile--tech__icons {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: relative; */
    align-items: center;
}

@media (width < 1700px) {
    .project-tile--tech__icons {
        justify-content: end;
    }
}

.project-tile--tech__icons::before {
    content: "Tools used:";
    /* position: absolute; */
    font-size: var(--tech-font-size);
    /* top: calc(var(--tech-font-size)*-1); */
}

.project-tile--tech__description {
    font-size: var(--tech-font-size);
}

.project-tile--tech__link {
    /* height: 10px; */
    position: relative;
    z-index: 101;
}

.project-tile--tech__link a {
    text-decoration: none;
    color: rgb(64, 64, 248);
}

.project-tile--tech__no-link {
    margin-top: 5px;
    color: red;
}