/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

.loading{
    position: fixed;
    inset: 0;
    z-index: 100;
    color: black;
    border: 1px solid black;
    background: -webkit-gradient(linear, left top, right bottom, from(var(--color-secondary)), to(var(--color-background)));
    background: -o-linear-gradient(left top, var(--color-secondary), var(--color-background));
    background: linear-gradient(to right bottom, var(--color-secondary), var(--color-background));
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 4rem;
}

.loading[animation="1"]{
    -webkit-animation: moveOnOut 2s ease-in-out 4s;
            animation: moveOnOut 2s ease-in-out 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes moveOnOut {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
}

@keyframes moveOnOut {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
}