/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

.tech-subsection {
    --spacing: 3rem;
    margin-top: var(--spacing);
    font-size: 2rem;
    grid-column: start / end;
    position: relative;
}

.tech-subsection::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--spacing) / 2);
    left: 0;
    right: 0;
    border-top: 3px dashed var(--color-secondary);
}

.tools {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.tools .tech-icon {
    margin: 0 .4rem;
}