/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

* {
  border: 1px solid red;
}

html {
  --color-primary: #9254bc;
  --color-secondary: #878382;
  --color-background: #1e1a19;
  --padding-lr: 9vw;
  --padding-tb: 3rem;
}

@media (width < 600px) {
  html {
    --padding-lr: 1.2rem;
    --padding-tb: 1rem;
  }
}

@media (width > 1500px){
  html {
    --padding-lr: 13vw;
    --padding-tb: 5rem;
  }
}

@media (width > 1200px) {
  html {
    --padding-tb: 4rem;
  }
}

@media (width > 1900px) {
  html {
    --padding-lr: 20vw;
  }
}

body {
  padding: var(--padding-tb) var(--padding-lr);
  min-height: 100vh;
  font-family: 'Raleway';
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary)), color-stop(5%, var(--color-background)), color-stop(95%, var(--color-background)), to(var(--color-primary)));
  background: -o-linear-gradient(top, var(--color-primary), var(--color-background) 5%, var(--color-background) 95%, var(--color-primary));
  background: linear-gradient(to bottom, var(--color-primary), var(--color-background) 5%, var(--color-background) 95%, var(--color-primary));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-secondary);
  overflow-x: hidden;
  /* overflow-y: auto; */
}

input {
  outline: none;
}

/* .no-overflow-y {
  position: absolute;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
} */