.hero {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: [start] 80% [median] auto [end];
    padding: 2rem;
}

.border {
    content: "";
    position: absolute;
}

.border__1 {
    top: 0;
    left: 0;
    width: 50%;
    height: 65%;
    border-top: 2px solid var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
}

.border__2 {
    bottom: 0;
    right: 0;
    width: 45%;
    height: 70%;
    border-right: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}

.title-box {
    color: white
}

.title-text {
    font-weight: 100;
    font-size: 7rem;
    /* margin: 2rem 0; */
}

.subtitle {
    font-size: 5.3rem;
    font-weight: 100;
    margin: 1.3rem 0;
}

.blurb {
    grid-column-start: start;
    grid-column-end: end;
    font-size: 2rem;
}

.dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-primary);
    z-index: 10;
}

.dot-1 {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.dot-2 {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}