.hero {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: [start] 80% [median] auto [end];
    grid-template-rows: repeat(1fr);
    padding: 2rem;
}

@media (width < 600px) {
    .hero {
        grid-template-columns:  [start] 70% [median] auto [end];
    }
}

.hero::before, .hero::after {
    content: "";
    position: absolute;
}

.hero::before {
    top: 0;
    left: 0;
    width: 50%;
    height: 65%;
    border-top: 2px solid var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
}

.hero::after {
    bottom: 0;
    right: 0;
    width: 45%;
    height: 70%;
    border-right: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}

.title-box {
    color: white;
    display: flex;
    flex-direction: column;
}

.title-text {
    font-weight: 100;
    font-size: 7rem;
    /* margin: 2rem 0; */
}

.subtitle {
    font-size: 5.3rem;
    font-weight: 100;
    margin: 1.3rem 0;
}

.links {
    grid-column-start: median;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    object-fit: contain;
    position: relative;
}

@media (width < 600px) {
    .links {
        align-items: center;
    }
}

@media (width < 900px) {
    .title-box {
        grid-column: start / end;
        align-content: center;
    }
    .title-text {
        font-size: 5rem;
    }
    .subtitle {
        font-size: 4rem;
    }
    .links {
        grid-row-start: 3;
        grid-column: start / end;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 0;
    }
}

.mail {
    width: min(100%, 5rem);
    object-fit: contain;
    resize: both;
}

.mail-img {
    background: url("../assets/mail.png");
    aspect-ratio: 1;
    width: 100%;
    background-size: contain;
    cursor: pointer;
}

.linkedin {
    width: min(100%, 5rem);
    z-index: 10;
}

.linkedin-img {
    cursor: pointer;
    background: url("../assets/linkedin.png");
    aspect-ratio: 1;
    width: min(100%, 5rem);
    background-size: contain;
}

@media (width < 600px) {
    .linkedin-img, .linkedin, .mail {
        width: min(100%, 9rem)
    }
}

@media (900px < width < 1240px ) {
    .hero {
        grid-template-columns: [start] auto [median] 18% [end];
    }
    .links .mail, .links .linkedin, .linkedin-img{
        width: 100%;
    }
}

.blurb {
    grid-column-start: start;
    grid-column-end: end;
    font-size: 2rem;
}

.dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-primary);
    z-index: 10;
}

.dot-1 {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.dot-2 {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}