/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/* 
  TODO: add breakpoint for width > 1600px to change the project picture to be side-by-side with the description/icons
  change description/icons to use flex-direction: column @ 1600px +
*/

.projects-section {
  padding: 1rem;
  margin-top: 4rem;
  font-size: 2.4rem;
  background-color: #1e1a19;
  opacity: 0.8;
  background-image:  -o-linear-gradient(#2d2b2a 2.5px, transparent 2.5px), -o-linear-gradient(left, #3f3b3a 2.5px, #1e1a19 2.5px);
  background-image:  linear-gradient(#2d2b2a 2.5px, transparent 2.5px), linear-gradient(to right, #3f3b3a 2.5px, #1e1a19 2.5px);
  background-size: 44px 44px;
  background-position: 20px 20px;
  padding-bottom: 4rem;
  overflow: visible;
}

.projects-heading, .project {
  color: white;
  font-weight: 200;
}

.in-from-left[animation="1"] {-webkit-animation:in-from-left 2s ease-in-out .3s both;animation:in-from-left 2s ease-in-out .3s both}@-webkit-keyframes in-from-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}90%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.65}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes in-from-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}90%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.65}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}



input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

.tabs {
    border-radius: 8px;
    /* overflow: hidden; */
    grid-row: start;
    grid-column: start/ end;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
  }
  
  .tab {
    width: 100%;
    color: white;
    position: relative;
    /* overflow: hidden; */
  }
  .tab-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
    background: transparent;
    /* font-weight: bold; */
    cursor: pointer;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    position: relative;
    z-index: 2;
    /* Icon */
  }
  .tab-label:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .tab-content {
    max-height: 0;
    /* display: none; */
    /* z-index: -10; */
    opacity: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: transparent;
    /* transform: scaleY(0) translateY(-100%); */
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  
.tab-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    height: calc(2em + 1em + 6px);
    width: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    position: absolute;
    top:0;
    /* z-index: -1; */
  }
  .tab-close:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    background: transparent;
  }
  
input.label-input:checked + .tab-label {
    background: var(--color-primary);
    z-index: -1;
  }
  input.label-input:checked + .tab-label::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  input.label-input:checked ~ .tab-content {
    max-height: 100vh;
    opacity: 1;
    /* display: block; */
    -webkit-transform: scaleY(1) translateY(0);
        -ms-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0);
    padding: 1em;
  }

  /* input.label-input:checked ~ label.tab-close {
    z-index: 100;
  } */

input.close-input:checked ~ .tab-content{
  max-height: 0vh;
  opacity: 0;
  padding: 0;
}