.projects-section {
    margin-top: 4rem;
    font-size: 2.4rem;
    background-color: #1e1a19;
    opacity: 0.8;
    background-image:  linear-gradient(#2d2b2a 2.5px, transparent 2.5px), linear-gradient(to right, #3f3b3a 2.5px, #1e1a19 2.5px);
    background-size: 44px 44px;
    background-position: 20px 20px;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: [start] 60% [median] auto [end];
    grid-template-rows: 3.3rem auto;
}

.projects-heading, .project {
    font-weight: 200;
    color: white;
    grid-column: start / end;
}

.up-from-down[animation="1"] {-webkit-animation:slide-in-bottom 2s ease-in-out .1s both;animation:slide-in-bottom 2s ease-in-out .1s both}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}90%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.65}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}90%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.65}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
